<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    qwwerwlewl;glwglwl
    <button>1</button>
    <button>2</button>
    qwlrlfglqflg
    q3k132l5[135'
    
    qwe
    fq
    fqqw
    fqqwf
    q
    fq]
    <h1>lwfqlqwlfqlw</h1>
    <h2>welkfqlwflqwlflqgq</h2>
    <progress>1111</progress>

    <h1>я цйалойущ9пйщзуайупйупйц12 к1 я уцйпйцу ячсмцу</h1>
</body>
</html>