{% extends "base.html" %}

<!-- Скрипт страницы -->
{% block script %}
<script src="{{ url_for('static', path='js/admin/admin_main.js')}}"></script>
{% endblock %}

<!-- Разметка -->
{% block body %}
<main class="main-container">
  <div class="login-info panel">
    <div class="login-info-user">
      <span>Вы вошли как <strong id="user-login">{{ login }}</strong></span>
      <button type="button" class="button logout-btn" title="Выйти из аккаунта">
        <i data-lucide="log-out"></i>
      </button>
    </div>
    <div class="login-info-wrapper">
      <div class="login-info-section">
        <p class="login-info-item">Уровень доступа</p>
        <span class="login-info-data" id="user-role">
          {% if high_admin %} Администратор {% else %} Пользователь {% endif %}
        </span>
      </div>
      <div class="login-info-section">
        <p class="login-info-item">ТГ-бот</p>
        <span class="login-info-data" id="user-bot-status">
          {% if bot_connected %} Подключен {% else %} Не подключен {% endif %}
        </span>
      </div>
    </div>
  </div>
  <h2 class="section-header">Панель управления</h2>
  {% if high_admin %}
  <p class="section-description">
    Здесь вы можете редактировать базу данных пользователей, <br />
    презентаций и категорий
  </p>
  {% else %}
  <p class="section-description">
    Здесь вы можете управлять вашими презентациями
  </p>
  {% endif %}
  <nav class="admin-nav">
    <a href="{{ url_for('admin_pres_pg') }}" class="admin-nav-button">
      <i data-lucide="folder-open"></i>
      <p>Презентации</p>
      <i data-lucide="chevron-right"></i>
    </a>
    {% if high_admin %}
    <a href="{{ url_for('admin_users_pg') }}" class="admin-nav-button">
      <i data-lucide="user-round-group"></i>
      <p>Пользователи</p>
      <i data-lucide="chevron-right"></i>
    </a>
    <a href="{{ url_for('admin_categories_pg') }}" class="admin-nav-button">
      <i data-lucide="tags"></i>
      <p>Категории</p>
      <i data-lucide="chevron-right"></i>
    </a>
    {% endif %}
  </nav>
</main>
{% endblock %}
