{% extends "base.html" %}

<!-- Скрипт страницы -->
{% block script %}
<script src="{{ url_for('static', path='js/admin/admin_presentations.js')}}"></script>
{% endblock %}

<!-- Разметка -->
{% block body %}
<main class="main-container">
  <a href="{{ url_for('admin_pg') }}" class="return-btn flat-button">
    <i data-lucide="chevron-left"></i>
    На главную
  </a>
  <h2 class="section-header">Управление презентациями</h2>
  <p class="section-description">
    Здесь можно добалять, удалять и редактировать презентации
  </p>

  <div class="upload-region">
    <button type="button" class="button">
      <i data-lucide="upload"></i>
      Добавить
    </button>
    <p class="limits">Вы можете загрузить еще 10 презентаций</p>
  </div>

  <div class="presentations-search">
    <i data-lucide="search" class="icon"></i>
    <input
      type="search"
      id="searchbar"
      class="searchbar input"
      placeholder="Поиск"
    />
  </div>
  <div class="result-stats" id="found-result"></div>
  <div class="table-wrapper" id="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th class="th-title" scope="col">Название</th>
          <th class="th-author" scope="col">Автор(ы)</th>
          <!-- <th class="th-category" scope="col">Категория</th>
          -->
          <!-- <th class="th-date" scope="col">Дата создания</th>
          -->
          <th class="th-actions" scope="col">Действия</th>
        </tr>
      </thead>
      <tbody id="presentations-table"></tbody>
    </table>
  </div>
</main>
{% endblock %}
