{% extends "./base.html" %}

<!-- Скрипт страницы -->
{% block script %}
<script src="{{ url_for('static', path='js/main_page.js')}}"></script>
{% endblock %}

<!-- Разметка -->
{% block body %}

<dialog id="presentation-modal" class="presentation-modal modal">
  <div class="preview">
    <img src="" alt="не будет вам картинки >:(" />
    <div class="vignette"></div>
  </div>
  <div class="info">
    <h3 class="title" id="modal-title"></h3>
    <p class="authors">
      <i data-lucide="user"></i><span id="modal-authors"></span>
    </p>
    <p class="description" id="modal-description"></p>
  </div>
  <div class="actions">
    <button type="button" class="button" id="view">
      <i data-lucide="presentation"></i>
      Смотреть
    </button>
    <button type="button" class="button" id="view">
      <i data-lucide="download"></i>
      Скачать
    </button>
  </div>
</dialog>

<main class="main-container">
  <h2 class="section-header">Презентации</h2>
  <p class="section-description">
    Здесь хранятся все наши презентации.<br />Можно скачать или посмотреть на
    сайте.
  </p>
  <div class="presentations-search">
    <div class="searchbar">
      <i data-lucide="search" class="icon"></i>
      <input
        type="search"
        id="searchbar"
        class="searchbar input"
        placeholder="Поиск"
      />
    </div>
  </div>
  <div class="result-stats" id="found-result"></div>
  <div class="table-wrapper" id="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th class="th-title" scope="col">Название</th>
          <th class="th-author" scope="col">Автор(ы)</th>
          <!-- <th class="th-category" scope="col">Категория</th>
          -->
          <!-- <th class="th-date" scope="col">Дата создания</th>
          -->
        </tr>
      </thead>
      <tbody id="presentations-table"></tbody>
    </table>
  </div>
</main>
{% endblock %}
