{% extends "./base.html" %}

<!-- Скрипт страницы -->
{% block script %}
<script src="{{ url_for('static', path='js/main_page.js')}}"></script>
{% endblock %}

<!-- Разметка -->
{% block body %}

<dialog id="presentation-modal" class="presentation-modal modal">
  <div class="preview">
    <img src="" alt="не будет вам картинки >:(" />
    <div class="vignette"></div>
  </div>
  <div class="info">
    <h3 class="title" id="modal-title">Title</h3>
    <p class="authors" id="modal-authors">A.A Author, A.A.Author</p>
    <p class="description" id="modal-description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos sit
      exercitationem similique debitis eum beatae laborum facilis molestiae
      cupiditate ad asperiores, architecto itaque. Deleniti consequuntur cumque
      eveniet, autem et nostrum? Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Quos sit exercitationem similique debitis eum beatae
      laborum facilis molestiae cupiditate ad asperiores, architecto itaque.
      Deleniti consequuntur cumque eveniet, autem et nostrum? Lorem ipsum dolor,
      sit amet consectetur adipisicing elit. Quos sit exercitationem similique
      debitis eum beatae laborum facilis molestiae cupiditate ad asperiores,
      architecto itaque. Deleniti consequuntur cumque eveniet, autem et nostrum?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos sit
      exercitationem similique debitis eum beatae laborum facilis molestiae
      cupiditate ad asperiores, architecto itaque. Deleniti consequuntur cumque
      eveniet, autem et nostrum?
    </p>
  </div>
</dialog>

<main class="main-container">
  <h2 class="section-header">Презентации</h2>
  <p class="section-description">
    Здесь хранятся все наши презентации.<br />Можно скачать или посмотреть на
    сайте.
  </p>
  <div class="presentations-search">
    <div class="searchbar">
      <input
        type="search"
        id="searchbar"
        class="searchbar input"
        placeholder="Поиск"
      />
    </div>
  </div>
  <div class="result-stats">
    Найдено <span id="found-result"></span> презентаций
  </div>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th class="th-title" scope="col">Название</th>
          <th class="th-author" scope="col">Автор(ы)</th>
          <!-- <th class="th-category" scope="col">Категория</th>
          -->
          <!-- <th class="th-date" scope="col">Дата создания</th>
          -->
        </tr>
      </thead>
      <tbody id="presentations-table"></tbody>
    </table>
  </div>
</main>
{% endblock %}
